/* Neue Haas Unica */
@font-face {
    font-family: 'haas';
    src:
        url('haas/v6/NeueHaasUnicaW1G-Thin.woff2') format('woff2'),
        url('haas/v6/NeueHaasUnicaW1G-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'haas';
    src:
        url('haas/v6/NeueHaasUnicaW1G-Light.woff2') format('woff2'),
        url('haas/v6/NeueHaasUnicaW1G-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'haas';
    src:
        url('haas/v6/NeueHaasUnicaW1G-Regular.woff2') format('woff2'),
        url('haas/v6/NeueHaasUnicaW1G-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'haas';
    src:
        url('haas/v6/NeueHaasUnicaW1G-Medium.woff2') format('woff2'),
        url('haas/v6/NeueHaasUnicaW1G-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'haas';
    src:
        url('haas/v6/NeueHaasUnicaW1G-Bold.woff2') format('woff2'),
        url('haas/v6/NeueHaasUnicaW1G-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'haas';
    src:
        url('haas/v6/NeueHaasUnicaW1G-Heavy.woff2') format('woff2'),
        url('haas/v6/NeueHaasUnicaW1G-Heavy.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'haas';
    src:
        url('haas/v6/NeueHaasUnicaW1G-Black.woff2') format('woff2'),
        url('haas/v6/NeueHaasUnicaW1G-Black.woff') format('woff');
    font-weight: 800;
    font-weight: bold;
    font-style: normal;
}


/* PF Highway Sans Pro */
@font-face {
    font-family: 'pfhighway';
    src:
        url('pfhighway/v7/PFHighwaySansPro-ExtraThin.woff2') format('woff2'),
        url('pfhighway/v7/PFHighwaySansPro-ExtraThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'pfhighway';
    src:
        url('pfhighway/v7/PFHighwaySansPro-Thin.woff2') format('woff2'),
        url('pfhighway/v7/PFHighwaySansPro-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'pfhighway';
    src:
        url('pfhighway/v7/PFHighwaySansPro-Light.woff2') format('woff2'),
        url('pfhighway/v7/PFHighwaySansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'pfhighway';
    src:
        url('pfhighway/v7/PFHighwaySansPro-Regular.woff2') format('woff2'),
        url('pfhighway/v7/PFHighwaySansPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'pfhighway';
    src:
        url('pfhighway/v7/PFHighwaySansPro-Medium.woff2') format('woff2'),
        url('pfhighway/v7/PFHighwaySansPro-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'pfhighway';
    src:
        url('pfhighway/v7/PFHighwaySansPro-Bold.woff2') format('woff2'),
        url('pfhighway/v7/PFHighwaySansPro-Bold.woff') format('woff');
    font-weight: 800;
    font-weight: bold;
    font-style: normal;
}
